# Git LFS rules for packaged runtime assets.
# Text configs, localization files, and licenses under project/assets stay in normal Git.
project/assets/**/*.png filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.jpg filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.webp filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.avif filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.bmp filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.tga filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.dds filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.ktx2 filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.otf filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.ttf filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.woff filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.woff2 filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.ogg filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.wav filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.flac filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.aac filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.m4a filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.glb filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.bin filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.fbx filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.blend filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.psd filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.kra filter=lfs diff=lfs merge=lfs -text
project/assets/**/*.spp filter=lfs diff=lfs merge=lfs -text
